







body, td {
        font-family: Verdana, arial, Tahoma, Helvetica;
        font-size: 12px;
}

.header {
        font-size: 22px;
        font-weight: bold;
}

.help {
        font-size: 10px;
}

 input, textarea
{
        color: #000;
        background: #ffffff;
        border: 1px solid #000;
}

.submit input
{
        color: #000;
        background: #ffffff;
        border: 2px outset #000;
}


