body { font: 0.75em/1.6em arial, helvetica; }
h1, h2, h3, h4 {
    font-weight: bold;
    font-size:   24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }

b { font-weight: bold; }
table {
    border-collapse: collapse;
}
td, th {
    border: 0px solid gray;
	padding: 3px; 
}
th { font-weight: bold; }
.spacer  {background-color:#cccccc; color:#000000}

#stats_report {
    font-family: arial, helvetica;
    font-size: 8pt;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer { font-style: italic }
